/*=Font size */
.ocfilter{
    background: #fdfdfd;
    border-radius: 10px;
    box-shadow: 0 9px 17.02px 5.98px rgba(0, 114, 187, 0.09);
    margin-bottom: 20px;
}


.list-group-item {
	padding: 30px 25px;
    background: #fdfdfd;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    transition: 200ms;
}
.ocf-option-name{
    font-size: 16px;
    color: #0071bc;
    -moz-transform: matrix(1, 0, 0, 1.00168, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1.00168, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1.00168, 0, 0);
    margin-bottom: 20px;
}
.ocfilter-option-popover{
	z-index:90;
}
.form-wrapper {
    overflow: hidden;
    min-height: 65px;
}
.ocf-price-inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ocf-price-inputs input{
    max-width: 40%;
    font-size: 14px;
    padding: 0 5px;
}
.ocf-price-slider{

}

.scale {
    margin-top: 15px;
    margin-left: 16px;
    height: 5px;
}
.scale .noUi-connect {
    background-image: -moz-linear-gradient(72deg, #0096ff 0%, #0084dd 47%, #0072bb 100%);
    background-image: -webkit-linear-gradient(72deg, #0096ff 0%, #0084dd 47%, #0072bb 100%);
    background-image: -ms-linear-gradient(72deg, #0096ff 0%, #0084dd 47%, #0072bb 100%);
    box-shadow: none;
}
.scale .noUi-handle{
	width: 17px;
    height: 17px;
    border: 1px solid #ccc;
    border-radius: 100%;
    box-shadow: none;
	left: -16px;
}
.scale .noUi-handle-lower {
    background: #0096ff;
}
.scale .noUi-handle-upper{
    background: #0072bb;
}
.noUi-handle:after, .noUi-handle:before{
	display:none;
}
.scale .noUi-pips{
	display:none;
}





.ocf-option-values{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 155px;
}
#option-m .ocf-option-values{
	max-height: 304px;
}

.ocfilter-option label {
    cursor: pointer;
    display: block;
    padding-left: 30px;
    padding-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
}

.ocfilter-option label input {
    position: absolute;
    left: 0px;
    top: 17px;
}
.ocfilter-option label input:before {
    content: '';
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    background-color: white;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
}
.ocfilter-option label input:after {
    content: '';
    background-image: -moz-linear-gradient(2deg, #188aff 0%, #0c7edd 46%, #0072bb 100%);
    background-image: -webkit-linear-gradient(2deg, #188aff 0%, #0c7edd 46%, #0072bb 100%);
    background-image: -ms-linear-gradient(2deg, #188aff 0%, #0c7edd 46%, #0072bb 100%);
    width: 20px;
    height: 20px;
    border-radius: 2px;
    top: 0;
    left: 1px;
    bottom: 0;
    margin: auto 0;
    position: absolute;
    opacity: 0;
    transition: 200ms;
    cursor: pointer;
}
.ocfilter-option label.ocf-selected input:after {
	opacity: 1;
}
.ocfilter-option label small {
	background-color: #DBEAF9;
	color: #0E6A93;
	font-weight: 200;
	font-size: 10px;
	margin-left: 5px;
}

.ocfilter-option label.disabled {
	color: #999999;
}

.ocfilter-option label.disabled small {
	background-color: #EFEFEF;
	color: #999999;
}

.ocfilter-option label.ocf-selected {
	color: #097bd4;
}

.ocfilter-option label.ocf-selected small {
	opacity: 0;
}

.clear-buttons{
    padding: 35px 0;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btn-clear{
	color: #777777;
    cursor: pointer;
}
/*=Collapse Options */
button[data-target="#ocfilter-hidden-options"] {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

button[data-target="#ocfilter-hidden-options"] .fa:before {
	content: "\f078";
}

button[data-target="#ocfilter-hidden-options"][aria-expanded="true"] {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

button[data-target="#ocfilter-hidden-options"][aria-expanded="true"] .fa:before {
	content: "\f077";
}

/*=Collapse Values */
.collapse-value {
	margin-bottom: 10px;
}

.collapse-value > button, .collapse-value > button:focus, .collapse-value > button:active, .collapse-value > button:active:focus {
	text-align: left;
	background: transparent;
	border: none;
	box-shadow: none;
	padding: 0;
	font-size: 12px;
	text-decoration: underline;
	outline: none;
}

.collapse-value > button .fa:before {
	content: "\f107";
}

.collapse-value > button[aria-expanded="true"] {
}

.collapse-value > button[aria-expanded="true"] .fa:before {
	content: "\f106";
}

/*=Selected Options */
.selected-options {
	color: #333333;
	padding: 0;
}

.selected-options .ocfilter-option {
	background-color: #F8F8F8;
	font-size: 10px;
	padding: 4px 5px;
}

/*=Price filtering */
#ocfilter-price .ocf-option-values {
	padding: 10px 10px 5px;
}

.trackbar, .trackbar .left-block, .trackbar .right-block {
	height: 4px;
}

.popover-content .form-inline {
	white-space: nowrap;
}

.popover-content .form-inline .form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.ocfilter .popover .form-inline .form-control {
	width: 100px;
}

/* Position center style */
.ocfilter-content-top, .ocfilter-content-bottom {
}

.ocfilter-content-top .box-content, .ocfilter-content-bottom .box-content {
	font-size: 0;
}

.ocfilter-content-top .ocfilter-option, .ocfilter-content-bottom .ocfilter-option {
	display: inline-block;
	vertical-align: top;
	width: 33%;
}

.ocfilter-content-top .ocfilter-option + .ocfilter-option, .ocfilter-content-bottom .ocfilter-option + .ocfilter-option {
	border-top: none;
}

/*=Mobile */
.ocf-offcanvas{
  position: fixed;
  top: 0;
  background-color: #fff;
  bottom: 0;
  right: -250px;
  z-index: 1000;
  height: 100%;
  width: 250px;
  padding: 0;

  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -ms-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;
}
.ocf-offcanvas.active{right:0;}
.ocf-offcanvas .ocfilter-mobile-handle{position: absolute; right: 100%; top: 165px;}
.ocf-offcanvas .ocfilter-mobile-handle .btn{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ocf-offcanvas .ocf-offcanvas-body{
overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	z-index:1000;
}
.ocf-offcanvas .panel{}
.ocf-offcanvas{display:none;}
.ocf-offcanvas{}


@media (max-width: 1080px) {

.ocf-offcanvas{display:block;}
.ocf-price-inputs input{
	    max-width: 80px;
}


}
